* {
  box-sizing: border-box;
}

.canvas {
  height: 960px;
  width: 960px;
  border: 5px dotted aquamarine;
  display: flex;
  flex-flow: row wrap;
}

/* .block {
  width:  10;
  height: 100%;
  border: 2px solid red;
}

.colorIn {
  background-color: blue;
} */